body{
    background-color:#a3d8f4;
    padding:100px;
    font-family: 'Open Sans Condensed', sans-serif;
}
/* p{
    line-height: 1.5;
} */
.daniel{
    background-color: #7579e7;
    border-radius: 10px;
    padding: 20px;
    width:45%;
    color: white;
    margin-right: 0px;
    height:265px;
    
}
.d2-h3{
    position: relative;
}
.d-pic{
    float: left;
    margin-right: 1em;
    border-radius: 100px;
    width: 40px;
}
.quote{
    position: absolute;
    right:800px;
    top:140px;
}
.v{
   width:25%;
   display: inline;
}
.d-h3{
    display: inline;
    margin-top: 50px;   
    font-size: 15px;
    
}
.jea-h3{
    
    margin-bottom: 30px;
}
.jon{
    background-color:#686d76 ;  
    color: white;
    border-radius: 10px;
    padding: 20px;
    width:15%;
    position: absolute;
     right:425px;
    margin-right: 0px; 
    height:263px;
    top:110px
}
.jea{
    background-color: white;
    border-radius: 10px;
    padding:20px;
    width:18%;
    
    margin-top: 15px;
    margin-right: 0px;
    height: 230px;
    
}
.pat{
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    padding:20px;
    width:38%;
    position: absolute;
    margin-top: 10px;
    right:425px;
    margin-right: 0px;
    top:420px;
    height:230px

}

.kir{
    background-color: white;
    border-radius: 10px;
    padding:30px;
    width:17%;    
    position: absolute;
    right: 120px;
top:110px;
height:530px;
}
.attribution
{
    text-align: center;
    margin-top: 30px;
    
}
a{
    text-decoration: none;
}